<!DOCTYPE html>
  <head>
    <title>{{title}}</title>
	<link href ="/static/bootstrap.min.css" rel="stylesheet" media ="screen">
  </head>
  <body>
	<div class ="container">
	<br>
	<h1>{{title}}</h1>
	<hr>
	
	<form action ="" method="post">
		<input class="btn btn-primary" type ="submit" name ="users_log" value="USERS-LOG">
		<input class="btn btn-primary" type ="submit" name ="registration_log"value="REGISTRATION-LOG">
		<input class="btn btn-danger" type ="submit" name ="restart"value="RESTART-DEVICE">
		<input class="btn btn-primary" type ="submit" name ="update_database"value="UPDATE-DATABASE">
		<input class="btn btn-primary" type ="submit" name ="device_details"value="DEVICE-DETAILS">
		<input class="btn btn-primary" type ="submit" name ="registration"value="REGISTRATION">
		<input class="btn btn-primary" type ="submit" name ="clear_database"value="CLEAR-DATABASE">

	</form> 
	<hr>
	
	
	</div>
  </body>
<html>
	